body {
  font-family: sans-serif;
  background-image: linear-gradient(rgb(125, 222, 255), white);
}

.box {
  border: 3px solid black;
  width: 150px;
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

#header {
  border-bottom: 1px solid black;
  text-align: center;
}

#temp {
  position: relative;
  left: 170px;
}

#humidity {
  position: relative;
  left: 600px;
  bottom: 126px;
}

#main{
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 1000px;
  height: 800px;
  padding: 10px;
  background-color: white;
}

.sensorinfo {
  width: 300px;
  position: relative;
  bottom: 50px;
}

#rdmod {
  position: relative;
  bottom: 405px;
  left: 350px;
}

#esp32 {
  position: relative;
  bottom: 790px;
  left: 700px;
}
